@import url('https://fonts.googleapis.com/css?family=Helvetica&display=swap');

p {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 200pt;
}

body {
    background-color: #0328bc;
}