@font-face {
    font-family: "coda";
    src: url("/fonts/CMMCodaKMCustom-Proportional.woff");
  }
  
  @font-face {
    font-family: "coda";
    src: url("/fonts/CMMCodaKMCustom-ProportionalItalic.woff");
    font-style: italic;
  }
  
  @font-face {
    font-family: "codamono";
    src: url("/fonts/CMMCodaKMCustom-MonoSans.woff");
  }

  .outer {
      position: relative;
      background-color: #fff;
      margin: 20px;
  }
  
  body {
    font-family: "coda", sans-serif;
    font-size: 18px;
  }
  
  .col {
  }
  
  .nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: end;
  }
  
  .nav > * {
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 30px;
  }
  
  .nav > *:first-child {
      margin-left: 0;
  }
  .nav > *:last-child {
      margin-right: 0;
  }
  
  .container {
      background-color: #fff;
      padding: 40px 40px;
      border: 1px solid #000;
      position: relative;
  }
  
  #borderCanvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* z-index: -1; */
      pointer-events: none;
  }
  
  p {
      max-width: 660px;
  }
  
  .posts {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 20px;
      margin-bottom: -10px;
  }
  
  /* .container::before {
      content: '';
      position: absolute;
      inset: 0;
      border: 1px solid black;
      pointer-events: none;
      transform: translate(-0.1px, -0.1px) rotate(0.1deg);
    } */
    
    /* .container::after {
      content: '';
      position: absolute;
      inset: 0;
      border: 1px solid black;
      pointer-events: none;
      transform: translate(1px, 1px) rotate(0.2deg);
      opacity: 0.5;
    } */
  
  html,
  body {
    margin: 0;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
  }
  
  body {
      height: 100vh;
  }
  
  li {
    margin: 0.5em 0;
  }
  
  a {
    color: black;
  }
  
  ul {
    list-style: none;
    padding-left: 20px;
  }
  ul > li:before {
    content: "-";
    padding-right: 5px;
  }
  
  #emailbutton {
    cursor: pointer;
    text-decoration: underline;
  }
  
  #email {
      position: absolute;
      top: 30px;
      right: 0px;
      color: #f3a71a;
  }
  
  #images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
  }
  
  img {
    height: 200px;
    object-fit: cover;
  }
  
  .image-container {
    border: 1px solid transparent;
    display: flex;
    padding: 2px;
    margin: 2px;
  }
  
  .image-container:hover {
    border: 1px solid rgb(128, 128, 128);
  }
  
  #container {
      width: calc(100vw - 80px);
      height: calc(100vh - 80px);
      padding: 25px;
      overflow: hidden;
      position: absolute;
  }
  
  #container > span {
      font-family: "codamono", monospace;
      font-size: 18px;
      opacity: 0;
      letter-spacing: -2px;
  }

  #topscreen {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  
  #below {
      /* width: 100%; */
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      padding: 50px 10px;
      gap: 20px;
  }
  
  #below > .item {
      border: 1px solid black;
      /* padding: 5px; */
      width: 750px;
      max-width: 100%;
      margin: 0 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  @media (max-width: 768px) {
    #below > .item {
      flex-wrap: wrap;
      justify-content: start;
      border: none;
    }
  }

  #below > .item > div {
    padding: 5px 30px
  }

  #below > .item > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }