.outdent {
    border-radius: 50%;
    background: #fefef7;
    box-shadow:  20px 20px 60px #c4c4be, 
                 -20px -20px 60px #ffffff;
}

.indentColored {
    border-radius: 50%;
    /* background: #a140e2;
    box-shadow: inset 31px 31px 62px #5d2583, 
                inset -31px -31px 62px #e55bff; */
    /* background: #9de264;
    box-shadow: inset 31px 31px 62px #5b833a, 
                inset -31px -31px 62px #dfff8e; */
    background: #d896e2;
    box-shadow: inset 31px 31px 62px #7d5783, 
                inset -31px -31px 62px #ffd5ff;
}

.indent {
    border-radius: 50%;
    background: #fefef7;
    box-shadow: inset 10px 10px 30px #b4b4af, 
            inset -10px -10px 30px #ffffff;
}

.outdentCurved {
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff, #e5e5de);
    box-shadow:  20px 20px 60px #c4c4be, 
                 -20px -20px 60px #ffffff;
}


#backgroundimg {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 90vw;
    filter: brightness(4);
}

#logo {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 45vw;
}

body {
    background-color: #fefef7;
    overflow: hidden;
    opacity: 0;
}

#leftColumn {
    padding: 0vw;
    padding-left: 5vw;
    position: absolute;
    left: 0;
    height: 100%;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    transition: margin ease 1s;
}

#rightColumn {
    padding-right: 5vw;
    position: absolute;
    right: 0;
    height: 100%;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    transition: margin ease 1s;
}

.circle {
    width: 5vw;
    height: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.circleBig {
    width: 10vw;
    height: 10vw;
    margin-top: 50px;
    margin-bottom: 40px;
}