.outdent {
    border-radius: 50%;
    background: #fefef7;
    box-shadow:  20px 20px 60px #c4c4be, 
                 -20px -20px 60px #ffffff;
}

.indentColored {
    border-radius: 50%;
    background: #ddbde5;
    box-shadow: inset 31px 31px 62px #98829e, 
                inset -31px -31px 62px #fff8ff;
}

#rotator {
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 6vw;
    border-radius: 3vw;
    height: 50vw;
    background: #636364;
}

.indent {
    border-radius: 50%;
    background: #fefef7;
    box-shadow: inset 10px 10px 30px #b4b4af, 
            inset -10px -10px 30px #ffffff;
}

.outdentCurved {
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff, #e5e5de);
    box-shadow:  20px 20px 60px #c4c4be, 
                 -20px -20px 60px #ffffff;
}

#ringOuter {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 45vw;
    height: 45vw;
    /* background-image: url("tickMarks.png"); */
    background-size: cover;
}
#ringOutero {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 45vw;
    height: 45vw;
    /* background-image: url("tickMarks.png"); */
    background-size: 40vw 40vw;
    opacity: 50%;
}

#ringInner {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 35vw;
    height: 35vw;
    /* background-image: url("tickMarks.png"); */
    background-size: 38vw 38vw;
    background-position: -1.5vw -1.5vw;
    transition: width ease 1s, height ease 1s, opacity ease 1s;
    cursor: pointer;
    z-index: 3;
}

#ringInner2 {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 38vw;
    height: 38vw;
    background-color: #fefef7;
}


body {
    background-color: #fefef7;
}

.sideButton {
    width: 12vw;
    height: 12vw;
    margin: 30px;
}

#leftColumn {
    padding-left: 5vw;
    position: absolute;
    left: 0;
    height: 100%;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
}

#fill {
    width: 100%;
    height: 100%;
    background-color: #222222;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in 0.3s;
    visibility: hidden;
    z-index: 4;
    text-align: center;
}

#inside {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 34.4vw;
    height: 34.4vw;
    background: #222222;
    /* box-shadow: inset 32px 32px 64px #111111,  */
                /* inset -32px -32px 64px #333333; */
    border-radius: 50%;
    transition: width ease-in 0.4s, height ease-in 0.4s, border-radius ease-in 0.4s;
    cursor: pointer;
    z-index: 2;
    display: none;
}

#rightColumn {
    padding-right: 5vw;
    position: absolute;
    right: 0;
    height: 100%;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
}

.slider1 {
    width: 12vw;
    height: 4vw;
    border-radius: 2vw;
    margin: 30px;
}
.slider2 {
    border-radius: 2vw;
    width: 6vw;
    height: 4vw;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    margin-left: 0%;
    transition: margin ease 1s;
}
.red {
    background: linear-gradient(145deg, #d85b4b, #ff6c59);
}
.blue {
    background: linear-gradient(145deg, #4795c0, #3b7da1);
}